@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css";

/* Custom CSS */
body {
  background-image: url('../img/background.png');
}

div#divContent {
  color: white;
}

#divContent h1 {
  padding: 1%;
}

p#pCopyright {
  text-align: center;
}
