@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css";

/* Custom CSS */
body {
  background-image: url('../img/background.png');
}

div#divContent {
  color: white;
}

#divContent h1 {
  padding-top: 1%;
  padding-left: 1%;
}

#divContent h4 {
  padding-left: 1%;
}

.btn-outline-light {
  margin-left: 1%;
}

div.service {
  width: 100%;
  color: black;
  padding: 2%;
  float: left;
  align-content: center;
}

div.card {
  margin: 1%;
  float: left;
  max-width: 300px;
}

.card-img-top {
  object-fit: contain;
  max-width:  300px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

#divContent h4 {
  padding-left: 1%;
}

p#pCopyright {
  padding-top: 1%;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  /* background-color: #f5f5f5; */
}

ul.projects {
  list-style-type: none;  
  width: 20rem;
}

ul.projects li {
    float: left; 
    display: inline;     
}

.clear { 
  clear: both; 
}
